<header class="header">
    <div class="title-info">
        <a href="#" routerLink="/main">
            <h1 class="title">Julie Smyth</h1>
        </a>
    </div>
    <nav>
        <ul class="nav-bar">
            <li class="nav-item"><a href="" class="nav-link" routerLink="/about">About</a></li>
            <li class="nav-item"><a href="" class="nav-link" routerLink="/projects">Projects</a></li>
            <li class="nav-item"><a href="" class="nav-link" routerLink="/resume">Resume</a></li>
            <li class="nav-item"><a href="" class="nav-link" routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
</header>