<main class="main">
    <div class="about-div">
        <h1 class="title">About Me</h1>
        <div class="p-container">
            <p class="paragraph p1">Based in Detroit, Julie enjoyed beginning her career working in artistic
                institutions, the Main Art Theatre and Pewabic Pottery. Both gave her the chance to explore her creative
                side while honing skills in management and collaborative work.
            </p>
            <p class="paragraph p2"> But after almost 10 years in customer service, she needed a change. After stumbling
                upon a website that sang the praises of a career in tech, she decided to try a little coding herself.
                Web development was the perfect next step for a gal that loves design and creating efficient user
                experiences. She found a love for coding which led her to an intensive Front-End Development Bootcamp
                through Grand Circus Detroit. Working in a small group to hone her skills, she now feels confident in
                starting her career as a dev.
            </p>
            <!-- <p class="paragraph">She loves long walks and spending time with her pet rabbits.</p> -->
        </div>
    </div>
</main>