<main class="main">
    <div class="contact-div">
        <h1 class="title text-align">Contact Me</h1>
        <ul class="list">
            <li class="li">juliemcsmyth@gmail.com</li>
            <li class="li">248.259.0786</li>
            <div class="links-list">
                <a href="https://www.linkedin.com/in/julie-smyth/" target="_blank" title="linkedIn"><i
                        class="fab fa-linkedin"></i></a>
                <a href="https://github.com/julie-bird" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
                <a href="https://soundcloud.com/ghoul-gals" target="_blank" title="SoundCloud"><i
                        class="fab fa-soundcloud"></i></a>
            </div>
        </ul>
    </div>
</main>