<main class="main">
    <h1 class="title">Projects</h1>
    <ul class="projects">
        <li class="movie-container main-content">
            <a href="https://github.com/julie-bird/angular-movie-project" target="_blank">
                <img src="assets/img/movie-database-screenshot.png"
                    alt="Screenshot of a website showing movie posters and a search form." class="image">
            </a>
            <div class="project-info">
                <p><a href="#" class="main-anchors">Find a Film Website</a></p>
                <p class="description">Using a web api, this Angular website can help you find the perfect movie for a
                    quiet night at home. A functional watchlist keeps your new finds at your fingertips.</p>
            </div>
        </li>
        <li class="pos-container main-content">
            <a href="https://github.com/julie-bird/my-point-of-sale" target="_blank">
                <img src="assets/img/pos-screenshot.png"
                    alt="Screenshot showing a colorful, floral website ready to help you find new furniture."
                    class="image">
            </a>
            <div class="project-info">
                <p><a href="#" class="main-anchors">Furniture Point of Sale</a></p>
                <p class="description">Looking for a new couch? Look no further than this furniture website powered by
                    JavaScript. Add your items to the cart and even reenact the check out process with functions that
                    simulate using cash or charge.(No real furniture available at this time.)</p>
            </div>
        </li>
        <li class="todos-container main-content">
            <a href="https://github.com/julie-bird/todos-database" target="_blank">
                <img src="assets/img/to-do-screenshot.png"
                    alt="Screenshot of a website that will store and edit your list of to-dos." class="image">
            </a>
            <div class="project-info">
                <p><a href="#" class="main-anchors">To-Do List</a></p>
                <p class="description">Keep track of your day with this Angular app that utilizes it's own database to
                    store and edit your to-do list.
                </p>
            </div>
        </li>
    </ul>
</main>