<main class="main">
    <div class="main-content">
        <h1 class="title">Resume</h1>
        <p class="paragraph">An intensive coding bootcamp with Grand Circus Detroit has equipped me with the skills to
            start my career as
            a developer. </p>
        <p class="label">Proficient In</p>
        <ul class="list">
            <li class="li"><i class="fas fa-plus"></i>HTML5/CSS</li>
            <li class="li"><i class="fas fa-plus"></i>Git/GitHub</li>
            <li class="li"><i class="fas fa-plus"></i>JavaScript</li>
            <li class="li"><i class="fas fa-plus"></i>Angular</li>
            <li class="li"><i class="fas fa-plus"></i>TypeScript</li>
            <li class="li"><i class="fas fa-plus"></i>Web APIs</li>
            <li class="li"><i class="fas fa-plus"></i>Node.JS</li>
            <li class="li"><i class="fas fa-plus"></i>SQL</li>
            <li class="li"><i class="fas fa-plus"></i>Agile/Scrum</li>
        </ul>
        <a href="/assets/img/Tech Resume.pdf" target="_blank" class="resume-link">See Full Resume</a>
    </div>
</main>